body {
    background: rgb(54, 176, 253);
}
.center{
 text-align: center;
}
.button{
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1{
    background-color: rgb(17, 125, 219);
}

.button2{
    background-color: rgb(213, 42, 219);
}

.button3{
    background-color: rgb(102, 16, 199);
}

.button4{
    background-color: rgb(106, 235, 94);
}